@charset "UTF-8";

@media screen and (min-width: 768px){
    span#burguer{
        display: none;
    }
    
    nav{
        display: block; 
             
    }    

    nav li{
        display: inline-block;
        
    }
    a{
        width: 100px;
    }

    main article{
        width: 60vw;
    }
    main section{
        width: 60vw;
    }

    ul li ul#sobre{
        position:absolute; 
        margin-top: 10px;        
        display: flex;
        flex-direction: row;
   
}

}

