@charset "UTF-8";

@font-face {
    font-family: 'Harryp';
    src: url('../fonte/HARRYP__.TTF');
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    width: 100vw;
    height: 100vh; 
}

header{
    margin-left: 20px;
}

h1{
    font-family: 'Harryp';
    font-size: 6em;
    text-align: center;
    padding: 10px;
    margin: 5px;
}
h2{
    font-family: 'Harryp';
    font-size: 3em;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

main{
    display: block;
}

main > section{   
    width: 60vw;    
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px; 
    
}

main > section > p{
    margin-top: 20px;
    padding: 10px;    
    text-indent: 30px;
    text-align: justify;    
    font-size: 1.2em;
    line-height: 1.6em;    
    
}