@charset "UTF-8";

@font-face {
    font-family: 'Harryp';
    src: url('../fonte/HARRYP__.TTF');
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    width: 98vw;
    height: 100vh;
}

header{
    margin-left: 20px;
}

header > nav > ul {
    display: inline-block;
}

h1{
    font-family: 'Harryp';
    font-size: 6em;
    text-align: center;
    padding: 10px;
    margin: 5px;
}
h2{
    font-family: 'Harryp';
    font-size: 3em;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

main > article{
    width: 800px;
    display: block;
    margin: auto;
}

main > article > p{
    margin: 5px;
    padding: 10px;    
    text-indent: 30px;
    text-align: justify;    
    font-size: 1.2em;
    line-height: 1.6em;
}