@charset "UTF-8";

@font-face {
    font-family: 'Harryp';
    src: url('../fonte/HARRYP__.TTF');
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    
}

body, html{
    width:100vw;        
}

header{    
    background: linear-gradient(130deg,#7c551be5,#810b02d5,#a86602e5,#c78902e3,#444444);
    padding: 10px;   
    
}

span#burguer{
    
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 1px white;
}
span#burguer:hover{
    
    color: white;
    text-shadow: 1px 1px 1px black;
}

nav{
    display: none;
    
}
ul{
    list-style-type: none;
}

 nav ul li > a{
    display: block;     
    padding: 20px;
    text-decoration: none; 
    font-weight: 700;   
    color: black;
    text-shadow: 1px 1px 1px white;
    text-align: center;
    border-top: 2px solid black;
    box-shadow: 1px 1px 4px black;
}
 li > a:hover{
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: brown;
}

ul li ul#sobre{
    display: flex;
    flex-direction: column;    
}
ul li ul#sobre li a{
    color: white;   
    text-shadow: 1px 1px 1px black;
    background-color: #810b02d5;
}
ul li ul#sobre li a:hover{
    color: black;   
    text-shadow: 1px 1px 1px white;
    background-color: #a86602e5;
}


h1{
    font-family: 'Harryp';
    font-size: 6em;
    text-align: center;
    padding: 5px;
    margin: 5px;      
    color: black;
    text-shadow: 2px 2px 1px white;    
}
h2{
    
    font-family: 'Harryp';
    font-size: 3em;
    text-align: center;
    padding: 5px;
    margin: 5px;
    color: black;
    text-shadow: 2px 2px 1px white;

   /*  background: linear-gradient(45deg,white,gray,black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

body{
    background: url('../imagens/1201594.jpg') center top no-repeat;
    background-color: rgba(0, 0, 0, 0.521);
    background-blend-mode: overlay;
    background-size:cover;
    
}

main > article{
    width: 80vw;
    display: block;
    margin: auto;
    margin-bottom: 20px;            
    margin-top: 50px;
    margin-bottom: 50px;    
    text-shadow: 1px 1px 2px black;    
    background-color: rgb(145, 97, 66);    
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(129, 69, 0, 0.719);
    
}

main > article > p{
    
    margin: 5px;
    padding: 10px;
    color: #ffffff;    
    text-indent: 30px;
    text-align: justify; 
    font-weight: 700;   
    font-size: 1.2em;
    line-height: 1.6em;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);    
   
}

main section{
    width: 80vw;
    display: block;
    margin: auto;
    margin-bottom: 20px;            
    margin-top: 50px;
    margin-bottom: 50px;    
    text-shadow: 1px 1px 2px black;    
    background-color: rgb(145, 97, 66);    
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(129, 69, 0, 0.719);
}
main > section > p{    
    margin: 10px;
    padding: 20px;
    color: #ffffff;    
    text-indent: 30px;
    text-align: justify; 
    font-weight: 700;   
    font-size: 1.2em;
    line-height: 1.6em;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);    
   
}
main h2{
    padding-top: 20px;
}



footer{
    background: linear-gradient(130deg,#7c551be5,#810b02d5,#a86602e5,#c78902e3,#444444);
    text-align: center;
    padding: 30px;    
    color: black;
    font-weight: 700;
    font-size: 1.4em;
    text-shadow: 1px 0px 1px white;
}
footer > p > a{
    text-decoration: none;
    color: black;
    font-family: 'harryp';
    font-size: 1.5em;

    
}